/* pc style */
html, body {
  margin: 0;
  padding: 0;
}

header.top-bar {
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
header.top-bar .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: start;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 12px;
  border-bottom: 1px solid #000;
  background-color: #fff;
}
header.top-bar .container .left {
  width: calc(100% - 46px);
}
header.top-bar .container .left .blog-title {
  display: flex;
  justify-content: flex-start;
  margin-top: 4px;
  font-size: 16px;
  font-weight: bolder;
  white-space: pre-line;
  word-break: break-all;
  position: relative;
  text-align: left;
  letter-spacing: -0.5px;
}
header.top-bar .container .right {
  width: 30px;
  margin-left: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header.top-bar .container .right button.sidebar-show-button {
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.sidebar-background {
  width: 0;
  height: 0;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  overflow: hidden;
}
@keyframes sidebar-background-show {
  0% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  1% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}
@keyframes sidebar-background-hide {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  99% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.side-bar {
  width: 280px;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  overflow-y: scroll;
  border-right: 1px solid #000;
  background-color: #fff;
  box-sizing: border-box;
}
.side-bar::-webkit-scrollbar {
  width: 4px;
}
.side-bar::-webkit-scrollbar-track {
  background-color: #eee;
}
.side-bar::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.side-bar .side-bar-content {
  padding: 32px 24px;
  margin: 0;
  position: relative;
  display: block;
}

.side-bar .side-bar-content .blog-title-row {
  display: block;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 40px;
}.side-bar .side-bar-content .blog-title-row > a {
  color: inherit;
  text-decoration: none;
}
.side-bar .side-bar-content .blog-title-row > a:hover {
  text-decoration: underline;
}

.side-bar .side-bar-content .sidebar-element-row {
  display: block;
  position: relative;
  margin-bottom: 24px;
  border-bottom: 1px solid #000;
}
.side-bar .side-bar-content .sidebar-element-row .title-row {
  display: block;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
}
.side-bar .side-bar-content .sidebar-element-row .title-row > a {
  color: inherit;
  text-decoration: none;
}
.side-bar .side-bar-content .sidebar-element-row .title-row > a:visited {
  color: inherit;
}
.side-bar .side-bar-content .sidebar-element-row .content-row {
  display: block;
  font-size: 12px;
  font-weight: normal;
  position: relative;
  margin-bottom: 24px;
}

ul.tt_category {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 12px;
}
ul.tt_category > li {
  display: block;
  margin: 0;
  padding: 0;
  position: relative; 
  list-style-type: none;
}
ul.tt_category > li a.link_tit {
  display: none;
}
ul.tt_category ul.category_list {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
ul.tt_category ul.category_list > li {
  display: block;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  position: relative; 
  list-style-type: none;
}
ul.tt_category ul.category_list > li > a {
  margin-bottom: 4px;
  display: block;
}
ul.tt_category ul.category_list > li a {
  color: inherit;
  text-decoration: none;
}
ul.tt_category ul.category_list > li a:hover {
  text-decoration: underline;
}

ul.sub_category_list {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
ul.sub_category_list > li {
  display: block;
  margin: 0;
  margin-left: 16px;
  margin-bottom: 4px;
  padding: 0;
  position: relative;
  list-style-type: none;
}
ul.sub_category_list > li > a {
  opacity: 0.6;
}

ul.visiter-count-list {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
ul.visiter-count-list > li {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  list-style-type: none;
}
ul.visiter-count-list > li .count-number {
  opacity: 0.6;
}

ul.recent-comment-list {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
ul.recent-comment-list li.recent-comment-item {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  position: relative;
  list-style-type: none;
  font-size: 12px;
}
ul.recent-comment-list li.recent-comment-item:last-child {
  margin-bottom: 0;
}
ul.recent-comment-list li.recent-comment-item .top-row {
  display: block;
  position: relative;
}
ul.recent-comment-list li.recent-comment-item .top-row .name {
  display: inline-block;
  margin-right: 2px;
  opacity: 0.6;
}
ul.recent-comment-list li.recent-comment-item .top-row .time {
  display: inline-block;
  opacity: 0.6;
}
ul.recent-comment-list li.recent-comment-item .comment-row {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
ul.recent-comment-list li.recent-comment-item .comment-row a {
  color: inherit;
  text-decoration: none;
}
ul.recent-comment-list li.recent-comment-item .comment-row a:hover {
  text-decoration: underline;
}

.search-form-box {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
}
.search-form-box input.search-input {
  width: calc(100% - 56px);
  display: flex;
  padding: 6px 10px;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #000;
  border-radius: 0;
  font-size: 12px;
}
.search-form-box input.search-input:focus {
  outline-style: auto;
  outline-offset: 1px;
}
.search-form-box button.search-submit {
  width: 52px;
  margin-left: 4px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  border: 0;
  font-size: 12px;
}

ul.blog-menu-list {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
ul.blog-menu-list > li {
  display: block;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  position: relative;
  list-style-type: none;
}
ul.blog-menu-list > li:last-child {
  margin-bottom: 0;
}
ul.blog-menu-list > li > a {
  font-size: 12px;
  color: inherit;
  text-decoration: none;
}
ul.blog-menu-list > li > a:hover {
  text-decoration: underline;
}

ul.recent-notice-list {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
ul.recent-notice-list li.recent-notice-item {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  position: relative;
  list-style-type: none;
}
ul.recent-notice-list li.recent-notice-item:last-child {
  margin-bottom: 0;
}
ul.recent-notice-list li.recent-notice-item > a {
  font-size: 12px;
  color: inherit;
  text-decoration: none;
}
ul.recent-notice-list li.recent-notice-item > a:hover {
  text-decoration: underline;
}

.content-container {
  display: block;
  position: relative;
  margin: 0;
  margin-left: 280px;
  padding: 0;
}

#tt-body-page .content-container { 
  margin-right: 360px;
}

/* mobile style */
@media all and (min-width: 0px) and (max-width: 1023px) {
  header.top-bar {
    display: block;
  }

  .sidebar-background {
    display: block;
    animation-duration: 300ms;
    animation-fill-mode: both;
  }
  .sidebar-background.my-show {
    animation-name: sidebar-background-show;
  }
  .sidebar-background.my-hide {
    animation-name: sidebar-background-hide;
  }

  .side-bar {
    transition: 0.3s all;
    left: -280px;
    z-index: 3;
  }
  .side-bar.my-show {
    left: 0;
  }

  .content-container {
    margin-left: 0;
  }

  #tt-body-page .content-container { 
    margin-right: 0;
  }
}

